.kaufman {
  background-color: #1f1f1f;
  overflow: hidden;
  position: relative;
  z-index: 2;
  margin: 0 auto;
  padding: 90px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.section-title_theme_dark {
  color: white;
}

.section-subtitle_theme_dark {
  color: white;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-top: 80px;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  position: absolute;
  top: 0;
  right: -210px;
  z-index: -1;
  background-image: url(../../../images/kaufman-triangle.svg);
  background-size: cover;
}
