.video__iframes {
  margin: -10px auto 0;
  min-height: 316px;
  width: 1050px;
  display: flex;
  justify-content: space-between;
}

.video__iframe {
  margin: 0;
  width: 515px;
  min-height: 316px;
  border: none;
  position: relative;
  top: 60px;
}
